TrainsTestAppointment/.idea/
TrainsTestAppointment/Library/
TrainsTestAppointment/Logs/
TrainsTestAppointment/Temp/
TrainsTestAppointment/obj/
TrainsTestAppointment/UserSettings/
*.sln
TrainsTestAppointment/Packages/packages-lock.json
TrainsTestAppointment/Assembly-CSharp.csproj
TrainsTestAppointment/Assembly-CSharp-Editor.csproj
